{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- =======================================//================================================================ -->
<div class="container-home">
  <h1 class="nombre-Bienvenida"> Hola: {{ current_user.fullname }} </h1>

  <div class="container-dashboard-home">
    <div class="row no-gutters"> <!-- Agregue 'no-gutters' para eliminar el espacio entre columnas -->

      <!-- Columna para "PRÓXIMOS A VENCER MATENIMINETO" con gráfico de torta -->
      <div class="col-sm-6">
        <div class="grafico"
            style="background-color: #143840; color: white; text-align: center; padding: 20px; box-sizing: border-box; border-radius: 10px;">
            <h5>ESTADÍSTICAS DE MANTENIMIENTOS PREVENTIVOS</h5>
            <canvas id="vencimientoMantenimiento" style="max-width: 100%;"></canvas>
        </div>
      </div>

      <div class="col-sm-6"> <!-- Columna para "CORRECTIVOS" -->
        <div class="grafico"
          style="background-color: #143840; color: white; text-align: center; padding: 20px; box-sizing: border-box; border-radius: 10px;">
          <h5>ESTADÍSTICAS DE MANTENIMIENTOS CORRECTIVOS</h5>
          <canvas id="vencimientoCalibracion" style="max-width: 100%;"></canvas>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Configuración del gráfico FECHAS DE CALIBRACIÓN -->
<script>
  var ctx = document.getElementById('vencimientoCalibracion').getContext('2d');
  var vencimientoCalibracion  = new Chart(ctx, {
      type: 'pie',
        data: {
            labels: ['Sin fecha', 'Vencidas (<0 días)', 'Próximas a vencer (<=30 días)', 'Más de 30 días'],
            datasets: [{
                label: 'Estadísticas de Matenimiento Preventivo',
                data: [{{ sin_fecha_mantenimiento_correctivo }}, {{ vencidas_mantenimiento_correctivo }}, {{ entre_0_y_30_dias_a_vencer_correctivo }}, {{ mas_30_dias_a_vencer_correctivo }}],  // Aquí Flask inserta los valores
                backgroundColor: [
                    'rgba(169, 169, 169, 0.7)', // Gris → sin fecha
                    'rgba(255, 0, 0, 0.7)',     // Rojo → vencidas
                    'rgba(255, 255, 0, 0.7)',   // Amarillo → por vencer (0 a 30 días)
                    'rgba(0, 128, 0, 0.7)'      // Verde → más de 30 días
                ],
                borderColor: [
                    'rgba(128, 128, 128, 1)',
                    'rgba(255, 0, 0, 1)',
                    'rgba(255, 255, 0, 1)',
                    'rgba(0, 100, 0, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                      color: '#ffffff'   // TEXTO BLANCO del label
                  }
                }
            }
        }
    });
</script>

<!-- Configuración del gráfico FECHAS DE MANTENIMIENTO -->
<script>
    var ctx = document.getElementById('vencimientoMantenimiento').getContext('2d');
    var vencimientoMantenimiento = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Sin fecha', 'Vencidas (<0 días)', 'Próximas a vencer (<=30 días)', 'Más de 30 días'],
            datasets: [{
                label: 'Estadísticas de Matenimiento Preventivo',
                data: [{{ sin_fecha_mantenimiento_preventivo }}, {{ vencidas_mantenimiento_preventivo }}, {{ entre_0_y_30_dias_a_vencer_preventivo }}, {{ mas_30_dias_a_vencer_preventivo }}],  // Aquí Flask inserta los valores
                backgroundColor: [
                    'rgba(169, 169, 169, 0.7)', // Gris → sin fecha
                    'rgba(255, 0, 0, 0.7)',     // Rojo → vencidas
                    'rgba(255, 255, 0, 0.7)',   // Amarillo → por vencer (0 a 30 días)
                    'rgba(0, 128, 0, 0.7)'      // Verde → más de 30 días
                ],
                borderColor: [
                    'rgba(128, 128, 128, 1)',
                    'rgba(255, 0, 0, 1)',
                    'rgba(255, 255, 0, 1)',
                    'rgba(0, 100, 0, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                      color: '#ffffff' //TEXTO BLANCO del label
                  }
                }
            }
        }
    });
</script>

{% endblock %}